.dashboard-content {
  width: 100%;
  display: flex;
  min-height: 105vh;
}

.dashboard-right-cont {
  padding: 35px;
  width: 100%;
  background-color: var(--colorbg);
}

.variations-cont-temp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 25px;
}

.variations-cont-temp-cmn {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  height: 300px;
  border: 2px dashed var(--colortext4);
  border-radius: 8px;
  color: var(--colortext4);
}
