.dashboard-content {
  width: 100%;
  display: flex;
  min-height: 105vh;
}

.dashboard-right-cont {
  padding: 35px;
  width: 100%;
  background-color: var(--colorbg);
}

.variations-cont-temp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px 25px;
}

.variations-cont-temp-cmn {
  padding-bottom: 30px;
  margin-bottom: 30px;
}
